
.register-container .content section{
    width: 100%;
    max-width: 380px;
    
    }
    
    .register-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
    }
    .register-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
    
    }